/* IMPOSTAZIONI GENERALI */
html {
  font-size: 62.5%;
}
body {
  color: #393d41;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.65;

  /* padding: 15px; */
}
* {
  box-sizing: border-box;
}

p {
  font-size: 2.5em;
  padding: 0 1.65em;
}

h1,
h2,
h3 {
  line-height: 1.5em;
  font-family: "Montserrat", sans-serif;
  color: #25a2c3;
}

h1 {
  font-size: 5rem;
  font-weight: 300;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.2rem;
}

/* -----------HEADER-------------- */

header {
  margin-top: 0;
  width: 100%;

  text-align: left;
  height: 50em;
}

#epic {
  width: 100%;
  background-color: black;
}

header h1 {
  line-height: 0.9em;
  margin-bottom: 0.5em;
  margin-top: 6em;
}

#head {
  text-align: center;
  width: 100%;
  height: 80em;
  margin-bottom: 10em;
  padding: 15px;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

header div p {
  margin-bottom: 2;
  margin-bottom: 1.2em;
}

header img {
  margin-bottom: 0.8em;
  width: 38rem;
  padding: 2em;
}

header button {
  cursor: pointer;
  text-align: center;
  width: 30rem;
  height: 9rem;
  color: white;
  border: none;
  border-radius: 3px;
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2em;
}

header button:hover {
  box-shadow: 3px 2px 5px black;
  transition: 0.5s;
}

/* -----------MAIN-------------- */

main {
  text-align: center;
}

main p {
  padding: 0;
  font-size: 2em;
}

main h2 {
  margin: 0.5em 0 0.5em 0;
}

section div img{
  border-radius: 50%;
  width: 100%;
}

.primaSec{
  margin-top: 50em;
  margin-bottom: 15em;
  padding: 2rem 2rem;
   
}

.primaSec div {
  width: 30%;
  display: inline-block;
  padding: 2rem 2rem;
  vertical-align: middle;
  text-align: left; 
}

/* -----------TESTIMONIANZE-------------- */

.testimonianze {
  background-color: #e22d0e;
  color: white;
  margin-top: 5em;
  height: 50em;
  padding: 7.35em;
  margin-bottom: 5em;
}

.testimonianze h1 { 
  margin-top: 1.2em;
  margin-bottom: 0.2em;
  color: white;
}

.testimonianza {
  font-style: italic;
}

.testimonianze p {
  font-size: 4rem;
  margin-bottom: 1em;
}

span {
  font-size: 2rem;
}

#mario {
  font-size: 3rem;
}

/* -----------ASIDE-------------- */

aside div {
  float: left;
  margin: 2% 0 3em 3%;
  width: 25%;
  border: 1px solid #dee1e3;
}

#first {
  margin-left: 20em;
}

aside div:hover {
  box-shadow: 0 3px 5px grey;
  transition: 0.5s;
}

aside div img {
  width: 100%;
  height: 358px;
}

aside div h3 {
  margin: 0.8em 0 0.8em 0;
}

aside div p {
  font-size: 1.8em;
  margin-bottom: 2em;
}

aside h3 a {
  color: #25a2c3;
  text-decoration: none;
}

aside h3 a:hover {
  color: #1c7188;
  text-decoration: underline;
}

aside h3 a:visited {
  color: #0d343f;
}

/* -----------FOOTER-------------- */

footer {
  margin-top: 70em;
  text-align: left;
  color: #c8e7f0;
  background-color: #25a2c3;
}

footer div {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  border-bottom: 2px solid #c8e7f0;
}

footer h1 {
  font-size: 7rem;
  padding-top: 1.5em;
  margin-bottom: 0.5em;
  color: white;
}

footer a,
address {
  font-size: 3rem;
  color: #c8e7f0;
}

address {
  margin-bottom: 1.5em;
}

footer p,
p > a {
  margin-top: 1.5em;
  font-size: 15px;
  padding-bottom: 5em;
}

footer img {
  filter: brightness(0) saturate(100%) invert(84%) sepia(42%) saturate(131%)
    hue-rotate(155deg) brightness(102%) contrast(88%);
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
}

hr{
  border: 1px solid #c8e7f0 ;
  margin-right: 14%;
}
